<?xml version="1.0"?>
<opencv_storage>
    <age>52</age>
    <y>
    <x>100</x>
    </y>
    <filepath>
        <oriImage>./log/oriImage </oriImage>
        <cropImage>./log/cropImage  </cropImage>
        <regionImage>./log/regionImage</regionImage>
        <videoCrop>./videoCrops</videoCrop>
    </filepath>
    <ori>
        <w>1024</w>
        <h>768</h>
    </ori>
    <halcon>
        <circularity>
            <min>0</min>
            <max>0.1676</max>
        </circularity>
        <closingCircle>35</closingCircle>
    </halcon>
    <crop>
        <scale>3.5</scale>
        <w>175</w>
        <h>50</h>
        <step>30</step>
    </crop>
    <frame>
        <maxScore></maxScore>
        <pixelDiffTresh>2.5e6</pixelDiffTresh>
        <frameCntTresh>30</frameCntTresh>
        <updatePossThresh>0.5</updatePossThresh>
    </frame>
    <polyLevel>5</polyLevel>
</opencv_storage>
